GOOGLE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxx-xxxxxxxx-xx
GEMINI_MODEL=gemini-3-flash-preview

MOODLE_USERNAME=12345678900
MOODLE_PASSWORD=31122026
MOODLE_URL=https://fatecead.cps.sp.gov.br
MOODLE_COURSE_ID=393